<div class="row p-5">
    <div class="col">
        <h1>Followers</h1>
        <ul class="list-group" id="followers">
            {{#if followers}}
            {{#each followers}}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                {{#nequals this.img "../public/images/default_user.jpg"}}
                <span class="thumbnail ml-4"><img src="{{this.img}}"></span>
                {{/nequals}}
                {{#equals this.img "../public/images/default_user.jpg"}}
                <span class="thumbnail ml-4"><img src="../{{this.img}}"></span>
                {{/equals}}
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><a href="/users/{{this._id}}">{{this.username}}</a></div>
                </div>
            </li>
            {{/each}}
            {{else}}
            <li class="list-group-item d-flex justify-content-between align-items-start">None</li>
            {{/if}}
        </ul>
    </div>
    <div class="col">
        <h1>Following</h1>
        <ul class="list-group" id="followers">
            {{#if following}}
            {{#each following}}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                {{#nequals this.img "../public/images/default_user.jpg"}}
                <span class="thumbnail ml-4"><img src="{{this.img}}"></span>
                {{/nequals}}
                {{#equals this.img "../public/images/default_user.jpg"}}
                <span class="thumbnail ml-4"><img src="../{{this.img}}"></span>
                {{/equals}}
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><a href="/users/{{this._id}}">{{this.username}}</a></div>
                </div>
            </li>
            {{/each}}
            {{else}}
            <li class="list-group-item d-flex justify-content-between align-items-start">None</li>
            {{/if}}
        </ul>
    </div>
</div>

