<div class="button-div">
    <button onclick="OpenForm();" id="edit-button">Edit Profile</button>
</div>
<div class="button-div">
    <button id ="cancel-button" style="display: none" onclick="CloseForm();">Cancel</button>
</div>
<form id="edit-profile-form"action="/users/{{user._id}}" method="POST" style="display: none">
    <input name = "firstName" placeholder="Update First Name"/>
    <input name = "lastName" placeholder="Update Last Name"/>
    <input name = "bio" placeholder="Update Bio"/>
    <input name = "country" placeholder="Update Country"/>
    <input name = "city" placeholder="Update City"/>
    <button type="submit">Submit</button>
</form>
{{#unless user.access_token}}
<form action="/spotify/login" onload="CheckConnected()" id="spotify-connect">
    <input type="submit" value="Connect to Spotify." />
</form>
{{/unless}}
<div class="card">
    <img src="{{user.img}}" id="user-img">
    <div id="profile">
        
        <h1>{{user.username}}</h1>
        <div class="gray-div">
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <h4>{{user.location.city}}, {{user.location.country}}</h4>
        </div>
        <div class="green-div">
            <p class="bolded-text">Top Artists</p>
            <ol>
                {{#each topArtists}}
                    <li>{{this.name}}</li>
                {{/each}}
            </ol>
        </div>
        <div class="gray-div">
            <p class="bolded-text">Top Songs</p>
            <ol class="centered-text">
                {{#each topSongs}}
                    <li>{{this.name}}</li>
                {{/each}}
            </ol>
        </div>
        <div class="green-div">
            <p class="bolded-text">Top Playlists</p>
            <ol>
                {{#each playlists}}
                    <li>{{this.name}}</li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>
<script src="../public/profile.js"></script>