<div class="container">
    <div class="row d-flex align-items-center">
            <div class="col-md-3 mb-4">
                <img src="{{user.img}}" id="user-img" class="img-fluid circle">
            </div>
            <div class="col-md-8">
                <h1 class="display-3">{{user.firstName}} {{user.lastName}}</h1>
                <h4 class="text-muted">@{{user.username}}</h4>
                <p>{{user.bio}}</p>
                <h6 class="text-muted">{{user.location.city}}, {{user.location.country}}</h6>
                {{#unless user.access_token}}
                <form action="/spotify/login" onload="CheckConnected()" id="spotify-connect">
                    <input class="btn btn-primary" type="submit" value="Connect to Spotify" />
                </form>
                {{/unless}}
            </div>
       </div>
        <div class="row">
            <div class="mb-4">
                <h2>Top Artists</h2>
                <ol class="list-group list-group-numbered">
                    {{#each topArtists}}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <span class="thumbnail ml-4"><img src="{{this.img}}"></span>
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"><a href="{{this.spotify_url}}">{{this.name}}</a></div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div>
                <h2>Top Songs</h2>
                <ol class="list-group list-group-numbered">
                    {{#each topSongs}}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <span class="thumbnail ml-4"><img src="{{this.img}}"></span>
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"><a href="{{this.spotify_url}}">{{this.name}}</a></div>
                            <small class="text-muted">{{this.artists}}</small>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            {{!-- <div class="col">
                    <div class="card text-center border-secondary mb-3" style="width: 18rem;">
                        <div class="card-body">
                            <p class="bolded-text">Top Playlists</p>
                            <ol class="list-group list-group-flush">
                                {{#each playlists}}
                                <img src="{{this.img}}" class="card-img-top">
                                <li class="list-group-item"><a href="{{this.spotify_url}}">{{this.name}}</a></li>
                                {{/each}}
                            </ol>
                        </div>
                    </div>
                </div> --}}

        </div>
 
</div>
<script src="../public/profile.js"></script>
<script src="../public/js/forms.js"></script>