<div class="allUsers">
    <div class="row">
            {{#each user}}
    <div class="col-md-4">
    <div class="indUser" >
        <img src="{{this.img}}" alt="user image">
        <p class="username">{{this.username}}</p>
        <p class="name">{{this.firstName}} {{this.lastName}}</p>   
        <ul class="topArtists">  
        {{#each this.topArtists}}
            <li>
                <a href="/artists/{{this.id}}">{{this}}</a>
            </li>
        {{/each}}  
        </ul>   
        <ul class="topSongs">  
            <li>
                {{#each this.topSongs}}
                    <a href="/songs/{{this.id}}">{{this}}</a>
                {{/each}}  
            </li>
<<<<<<< Updated upstream
        </ul>    
=======
            {{/each}}
        </ul>
        <div class="userCard" hidden>
            {{!-- musical profile and % match --}}
        </div>
>>>>>>> Stashed changes
        {{!-- <ul class="playlists">  
        {{#each this.playlists}}
                <a href="/playlists?/{{this.id}}">{{this}}</a>
        {{/each}}  
        </ul>     --}}
    </div>
    </div>
    {{/each}}
    </div>

</div>