<div class="allUsers">
    <div class="row">
            {{#each user}}
    <div class="col-md-4">
    <div class="indUser" >
        <img src="{{this.img}}" alt="user image">
        <p class="username">{{this.username}}</p>
        <p class="name">{{this.firstName}} {{this.lastName}}</p>
        <ul class="topArtists">
            {{#each this.topArtists}}
            <li>
                <a href="{{this.spotify_url}}" target="_blank">{{this.name}}</a>
            </li>
            {{/each}}
        </ul>
        <ul class="topSongs">
            {{#each this.topSongs}}
            <li>
                <a href="{{this.spotify_url}}" target="_blank">{{this.name}}</a>
            </li>

        </ul>    
            {{/each}}
        </ul>
        <div class="userCard" hidden>
            {{!-- musical profile and % match --}}
        </div>
        {{!-- <ul class="playlists">  
        {{#each this.playlists}}
                <a href="/playlists?/{{this.id}}">{{this}}</a>
        {{/each}}  
        </ul>     --}}
    </div>
    </div>
    {{/each}}
    </div>

</div>