{{!-- <div class="card-deck"> --}}
<div class="card-deck">
    {{#each users}}
    <div class="card-switch">
        <div class="card card-main border-dark mb-3 indUser" id={{this._id}}>
            <div class="card-header">
                <img class="mx-auto my-auto d-block circle" src="{{this.img}}" alt="user image">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.username}}</h5>
                <p class="card-text">{{this.firstName}} {{this.lastName}}</p>
            </div>
        </div>
        {{!-- </div> --}}
        <div class="card card-extension border-dark mb-3" id="{{this._id}}-hide">
            <div class="card-body">
                <div href="{{this.musicalProfile}}" id="{{this._id}}-profile">
                    <div id="{{this.musicalProfile}}-chart"></div>
                </div>
                <ul class="topArtists">
                    {{#each this.topArtists}}
                    <li>
                        <a href="{{this.spotify_url}}" target="_blank">{{this.name}}</a>
                    </li>
                    {{/each}}
                </ul>
                <ul class="topSongs">
                    {{#each this.topSongs}}
                    <li>
                        <a href="{{this.spotify_url}}" target="_blank">{{this.name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
    {{/each}}
</div>
</div>
{{!-- </div> --}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/userCard.js"></script>