<div class="allUsers">
<<<<<<< Updated upstream
    <div class="row">
            {{#each user}}
    <div class="col-md-4">
    <div class="indUser" >
=======
    <div class="card-group">
    {{#each users}}
    <div class="indUser card" id={{this.username}}>
>>>>>>> Stashed changes
        <img src="{{this.img}}" alt="user image">
        <h1 class="username card-title">{{this.username}}</h1>
        <p class="name card-text">{{this.firstName}} {{this.lastName}}</p>
        {{#if partial}}
        {{> (lookup . 'partial') }}
        {{/if}}
    </div>
    {{/each}}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/userCard.js"></script>