{{!-- <section class="container"> --}}
<div class="hidden">
    <input type="hidden" id="curr_user_profile" value={{curr_user.musicalProfile}} />
    <input type="hidden" id="curr_user_liked" value={{curr_user.likedProfiles}} />
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Sort
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" id="name-sort-asc" href="#">Name A-Z</a></li>
        <li><a class="dropdown-item" href="#" id="name-sort-dsc">Name Z-A</a></li>
        <li><a class="dropdown-item" href="#" id="match-sort-asc">Match % 0-100</a></li>
        <li><a class="dropdown-item" href="#" id="match-sort-dsc">Match % 100-0</a></li>
    </ul>
</div>
<div id="search-bar">
    <form id="search-form">
        <label for="search" class="form-label">
            <input name="username" type="text" id="search" placeholder="@username" autocomplete="off" list="dropdown-users">
            <datalist id="dropdown-users">
                {{#each users}}
                <option>{{this.username}}</option>
                {{/each}}
            </datalist>
        </label>
        <button type="submit" class="btn btn-primary" id="submit">Search</button>
    </form>
    <div id="error"></div>
</div>
{{!-- <div class="row row-cols-1 row-cols-md-4 g-4" id="card-deck"> --}}
<div class="card-deck" id="card-deck">
    {{#each users}}
    {{#compare this._id ../curr_user._id operator="!="}}
    {{#unless this.isPrivate }}
    {{!-- <div class="col"> --}}
    <div class="card-switch w-25 user" id="{{this.username}}">
        <div class="card mb-3 shadow border-light h-100">
            <div class="card-body bg-dark" id={{this._id}}>
                <div class="flip">
                    <div class="front">
                        <img class="shadow circle mx-auto my-auto d-block" src="{{this.img}}" alt="user image">
                    </div>
                    <div class="back">
                        <div class="shadow user-chart mx-auto my-auto d-block" href="{{this.musicalProfile}}"
                            id="{{this._id}}-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header" id="{{this._id}}-match">
                <span class="d-flex">
                    <h5 class="card-title text-light my-auto d-block" id="match-data">No Match Data</h5>
                    <span class="ml-auto material-icons text-primary" role="button" id="like_btn">favorite_border</span>
                </span>
            </div>
            <div class="card-footer bg-primary">
                <h5 class="mr-auto card-title"><a class ="text-light" href="/users/{{this._id}}" id="card-username">{{this.username}}</a>
                </h5>
                <p class="small card-text text-light">{{this.firstName}} {{this.lastName}}</p>
            </div>
        </div>
    </div>
    {{/unless}}
    {{/compare}}
    {{/each}}
</div>
</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.11/dist/jquery.flip.min.js"></script>
<script type="text/javascript" src="/public/js/users.js"></script>