{{!-- <div class="card-deck"> --}}
<div class="row">
    {{#each users}}
<<<<<<< Updated upstream
        <div class="col-lg-3">
            <div class="card border-success mb-3 indUser" id={{this.username}}>
                <img class="card-img-top img-thumbnail" src="{{this.img}}" alt="user image">
=======
    {{#compare this._id ../curr_user._id operator="!="}}
    <div class="card-switch w-25">
        <div class="card mb-3 shadow border-light">
            <div class="card-body bg-light" id={{this._id}}>
                <div class="flip">
                    <div class="front">
                        <img class="shadow circle mx-auto my-auto d-block" src="{{this.img}}" alt="user image">
                    </div>
                    <div class="back">
                        <div class="shadow user-chart mx-auto my-auto d-block" href="{{this.musicalProfile}}"
                            id="{{this._id}}-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header" id="{{this._id}}-match">
                <h5 class="card-title text-dark my-auto d-block">No Match Data</h5>
            </div>
            <div class="card-footer bg-dark">
                <h5 class="card-title"><a href="/users/{{this._id}}">{{this.username}}</a></h5>
                <p class="small card-text text-light">{{this.firstName}} {{this.lastName}}</p>
                <div class="btn-group text-right" role="group">
                    <form id="like-user-profile"action="/users/{{this._id}}/like" method="POST" style="display: block">
                        <button class= "btn btn-success" type="submit" role="button">Like</button>
                    </form>
                    <form id="unlike-user-profile"action="/users/{{this._id}}/unlike" method="POST" style="display: block">
                        <button class= "btn btn-success" type="submit" role="button">Unlike</button>
                    </form>
                </div> 
            </div> 
        </div>
        {{!-- <div class="card card-extension border-dark mb-3" id="{{this._id}}-hide">
            
>>>>>>> Stashed changes
            <div class="card-body">
                <h5 class="card-title">{{this.username}}</h5>
                <p class="card-text">{{this.firstName}} {{this.lastName}}</p>
            </div>
            <div class="card-extension" id="{{this.username}}-hide">
                 {{!-- {{#if partial}}
                    {{> (lookup . 'partial') }}
                {{/if}} --}}
                <ul class="topArtists">
                {{#each this.topArtists}}
                <li>
                    <a href="{{this.spotify_url}}" target="_blank">{{this.name}}</a>
                </li>
                {{/each}}
                </ul>
                <ul class="topSongs">
                {{#each this.topSongs}}
                <li>
                    <a href="{{this.spotify_url}}" target="_blank">{{this.name}}</a>
                </li>
                {{/each}}
                </ul>  
            </div>
            </div>
        </div>
  {{/each}}
</div>
{{!-- </div> --}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/userCard.js"></script>