<div id="musical-profile">
    <div id="musical-profile-vals" type="hidden">
        <input type="hidden" id="danceability" value={{musicalProfile.averageAudioFeatures.danceability}} />
        <input type="hidden" id="energy" value={{musicalProfile.averageAudioFeatures.energy}} />
        <input type="hidden" id="loudness" value={{musicalProfile.averageAudioFeatures.loudness}} />
        <input type="hidden" id="acousticness" value={{musicalProfile.averageAudioFeatures.acousticness}} />
        <input type="hidden" id="valence" value={{musicalProfile.averageAudioFeatures.valence}} />
    </div>
    <div id="radarChart"></div>
</div>