{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <a class="navbar-brand mb-0 h1" href="/">Spinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      {{#if isLoggedIn}}
      <li class="nav-item active">
        <a class="nav-link" href="/users">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/{{curr_user._id}}">My Profile<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/settings">Settings<span class="sr-only"></span></a>
      </li>
      {{/if}}
    </ul>
    <div class="my-2 my-sm-0">
      {{#if isLoggedIn}}
      <span class="navbar-text mr-2">
        User: {{curr_user.username}}
      </span>
      <a class="btn btn-primary mr-sm-0" href="/logout">Logout</a>
      {{else}}
      <a class="btn btn-primary mr-sm-0" href="/login">Login</a>
      {{/if}}
    </div>
  </div>
</nav> --}}

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <div class="container">
    <a class="navbar-brand mb-0 h1" href="/home">
      <svg xmlns="http://www.w3.org/2000/svg" width="309" height="76" viewBox="0 0 309 76">
        <g id="Logo" transform="translate(-298 -20)">
          <text id="Spinder" transform="translate(394 76)" fill="#fff" font-size="48" font-family="Gotham Bold" font-weight="700"><tspan x="0" y="0">Spinder</tspan></text>
          <path id="Spinder_Circle" data-name="Spinder Circle" d="M38,0A38,38,0,1,1,0,38,38,38,0,0,1,38,0Z" transform="translate(298 20)" fill="#46ed82"/>
          <g id="Tinder_SVG" data-name="Tinder SVG" transform="translate(313.426 42.536)" fill="#eb5353">
            <path d="M 24.07920837402344 43.73949432373047 C 20.96309852600098 43.73949432373047 17.94071769714355 43.12942504882813 15.09604835510254 41.92622756958008 C 12.34790802001953 40.76386642456055 9.879618644714355 39.09962463378906 7.759738445281982 36.97975540161133 C 5.639868259429932 34.8598747253418 3.97562837600708 32.39158630371094 2.813268423080444 29.64344596862793 C 1.610068321228027 26.79877662658691 0.9999983906745911 23.77639579772949 0.9999983906745911 20.66028594970703 C 0.9999983906745911 17.9078254699707 1.934418320655823 14.47433567047119 3.563668489456177 11.24019622802734 C 4.956913948059082 8.474529266357422 6.695237636566162 6.199767112731934 8.447797775268555 4.817298412322998 C 10.31679534912109 9.198284149169922 11.83902549743652 12.38637065887451 13.0893087387085 14.54013538360596 C 14.59125804901123 17.12739562988281 15.65988826751709 18.18276596069336 16.77782821655273 18.18286514282227 C 16.77785491943359 18.18286514282227 16.77791404724121 18.18286514282227 16.77794075012207 18.18286514282227 C 17.22747802734375 18.18286514282227 17.64029884338379 18.00304412841797 17.9718189239502 17.66279602050781 C 19.33585929870605 16.26285552978516 19.28672790527344 11.76150608062744 19.08248901367188 3.925965785980225 C 18.9867992401123 0.2550957798957825 18.88784790039063 -3.540754318237305 19.0482177734375 -6.669604301452637 C 19.26963806152344 -10.98957443237305 19.93193817138672 -12.28046417236328 20.3070182800293 -12.66545391082764 C 20.34994506835938 -12.70951080322266 20.38784217834473 -12.74045753479004 20.42180061340332 -12.76215934753418 C 29.81803894042969 -7.493139266967773 36.48098754882813 -2.31258487701416 40.7851676940918 3.069265842437744 C 42.97110748291016 5.802525997161865 44.54826736450195 8.561845779418945 45.60675811767578 11.50491619110107 C 46.6508674621582 14.40799617767334 47.15841674804688 17.40274620056152 47.15841674804688 20.66028594970703 C 47.15841674804688 23.77639579772949 46.54834747314453 26.79877662658691 45.34514999389648 29.64344596862793 C 44.18278884887695 32.39158630371094 42.51854705810547 34.8598747253418 40.39867782592773 36.97975540161133 C 38.2787971496582 39.09962463378906 35.81050872802734 40.76386642456055 33.0623664855957 41.92622756958008 C 30.21769905090332 43.12942504882813 27.1953182220459 43.73949432373047 24.07920837402344 43.73949432373047 Z" stroke="none"/>
            <path d="M 20.75315856933594 -11.42610168457031 C 20.66635513305664 -11.19088745117188 20.5678653717041 -10.86295318603516 20.47221755981445 -10.41261291503906 C 20.26902770996094 -9.455875396728516 20.12540817260742 -8.169055938720703 20.04534912109375 -6.587894439697266 C 19.88917922973633 -3.503192901611328 19.98727798461914 0.2602348327636719 20.0821475982666 3.899755477905273 C 20.32222747802734 13.10991668701172 20.26425743103027 16.7427864074707 18.68810844421387 18.36054611206055 C 18.17147827148438 18.89082717895508 17.49308776855469 19.1828556060791 16.77790832519531 19.1828556060791 C 14.99374008178711 19.1828556060791 13.6672477722168 17.52758598327637 12.22446823120117 15.04221534729004 C 11.07935333251953 13.06962013244629 9.7152099609375 10.25609016418457 8.076747894287109 6.484575271606445 C 6.779823303222656 7.77940559387207 5.519809722900391 9.579860687255859 4.456748962402344 11.69009590148926 C 2.918407440185547 14.74377632141113 2 18.09711456298828 2 20.66028594970703 C 2 23.641845703125 2.583488464355469 26.53314590454102 3.734268188476563 29.2538948059082 C 4.846218109130859 31.88283538818359 6.438488006591797 34.24428558349609 8.466850280761719 36.27264404296875 C 10.49520874023438 38.30100631713867 12.85665893554688 39.89327621459961 15.48559951782227 41.00522613525391 C 18.20634841918945 42.156005859375 21.09764862060547 42.73949432373047 24.07920837402344 42.73949432373047 C 27.06076812744141 42.73949432373047 29.95206832885742 42.156005859375 32.67281723022461 41.00522613525391 C 35.3017578125 39.89327621459961 37.6632080078125 38.30100631713867 39.69156646728516 36.27264404296875 C 41.71992874145508 34.24428558349609 43.31219863891602 31.88283538818359 44.42414855957031 29.2538948059082 C 45.57492828369141 26.53314590454102 46.15841674804688 23.641845703125 46.15841674804688 20.66028594970703 C 46.15841674804688 17.52006530761719 45.67016983032227 14.63602638244629 44.66576766967773 11.84334564208984 C 43.64511871337891 9.00550651550293 42.12030792236328 6.339775085449219 40.00420761108398 3.693845748901367 C 35.90750885009766 -1.428585052490234 29.60231590270996 -6.382045745849609 20.75315856933594 -11.42610168457031 M 20.59239768981934 -13.81244277954102 C 39.76765823364258 -3.125152587890625 48.15841674804688 7.361705780029297 48.15841674804688 20.66028594970703 C 48.15841674804688 33.95886611938477 37.37778854370117 44.73949432373047 24.07920837402344 44.73949432373047 C 10.7806282043457 44.73949432373047 0 33.95886611938477 0 20.66028594970703 C 0 14.66262626647949 4.158409118652344 6.126016616821289 8.889488220214844 3.296146392822266 C 13.15065002441406 13.42579078674316 15.50461959838867 17.18285751342773 16.77791213989258 17.18285751342773 C 20.43527603149414 17.18285751342773 15.17686462402344 -13.81244277954102 20.59239768981934 -13.81244277954102 Z" stroke="none" fill="#fff"/>
          </g>
        </g>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        {{#if isLoggedIn}}
        <li class="nav-item active">
          <a class="nav-link" href="/users">Users<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/{{curr_user._id}}">My Profile<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/settings">Settings<span class="sr-only"></span></a>
        </li>
        {{else}}
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home<span class="sr-only">Home</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"> | </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login<span class="sr-only">Log In</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign Up<span class="sr-only">Sign Up</span></a>
        </li>
        {{/if}}
      </ul>
      <div class="my-2 my-sm-0">
        {{#if isLoggedIn}}
        <span class="navbar-text mr-2">
          User: {{curr_user.username}}
        </span>
        <a class="btn btn-primary mr-sm-0" href="/logout">Logout</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>